<%inherit file="app_base.htm" />

<%block name="title">CHF Edit Event</%block>

<%block name="content">

    <h1 class="center">Edit ${ event.name }</h1>
    <h4 class="center"></h4>
    <form method="POST" role="form">
        <table id="myform">
            ${ form.as_table() }
        </table>
        <div class="row">
            <div class="col-md-2">
                <input type="submit" class="btn btn-warning" value="Save" />
            </div>
        </div>
    </form>

      <p class="text-right"><a href="/event/areas.create/${ event.id }" class="btn btn-primary">Create Area</a></p>

    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Place Number</th>
            <th>Event</th>
            <th>Action</th>
        </tr>

        %for area in areas:
            <tr>
                <td>${ area.name }</td>
                <td>${ area.description }</td>
                <td>${ area.place_number }</td>
                <td>${ area.event }</td>
                <td>
                    <a href="/event/areas.edit/${ area.id }/${ event.id }">Edit</a>
                    |
                    <a class="delete" href="/event/areas.delete/${ area.id }/${ event.id }">Delete</a>
                </td>
            </tr>
        %endfor
    </table>

    <!-- Modal -->
        <div id="delete_modal" class="modal fade" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="MyModalLabel">Are You Sure?</h4>
              </div>
              <div class="modal-body">
                <p>Delete the event</p>
              </div>
              <div class="modal-footer">
                <a id="confirm_delete_button" href="" class="btn btn-danger">Delete</a>
                <button class="btn btn-default" data-dismiss="modal">Cancel</button>
              </div>
            </div>

          </div>
        </div>


</%block>
