<%inherit file="app_base.htm" />

<%block name="content">
     <h1>Education Exhibits</h1>
        At its heart, the Foundation is an educational institution.  One of its major undertakings is developing exhibits and programs that can help bring to life the history surrounding America's colonial period and is founding generation.  To this end, the Foundation has developed a variety of traveling exhibits.  One exhibit is focuses on the importance of the press in the American Revolution and of the continued importance of a free press in America today.  The central artifact of this exhibit is a replica of the Isaiah Thomas Press, an 18th century press that was influential building support for American independence.
    <h1>Apprenticeships</h1>
        The Foundation seeks to help individuals who have developed skills peculiar to America's founding era to pass those skills on to others. One way to preserve these skills is to teach them to younger individuals. The Foundation seeks to match skilled artisans and craftsmen with eager young individuals for the purposing of learning trade and artistic skills.
    <h1>Internships</h1>
        Studies or History Education.  Individuals selected for the program spend one to three months accompanying educational exhibits to schools, teaching students about Colonial American History and portraying notable figures from the period.
    <h1>Legal</h1>
        The name "Colonial Heritage Foundation" is another name for the Society for the Preservation of America's Founding Values, Inc., which is a 501(3)(c) public charity.
</%block>